
.summit-pic {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: calc(0.25rem - 1px);
  background-color: rgba(255, 255, 255, var(--bs-bg-opacity));
}

.summit-pic img {
  height: 250px;
  width: 100%;
  border-radius: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--transparent-orange-red);
  border-radius: calc(0.25rem - 1px);
  justify-content: center;
  align-items: center;
}

.overlay h5 {
  font-family: var(--lato);
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.overlay p {
  font-family: var(--lato);
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.middle-section p {
  font-family: var(--lato);
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  width: 65%;
}

.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage {
  padding: 10% 1%;
  justify-content: center;
  align-items: center;
}

.homepage h1 {
  text-align: center;
  color: var(--orange-red);
}

.homepage h3 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  font-family: var(--lato);
}

.email {
  text-decoration: underline;
  text-decoration-color: var(--white);
  color: white;
  font-weight: 500;
}

.header-decription-container {
  width: 80%;
  margin: 0;
}

.bottom-description-container {
  width: 80%;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .summit-logo {
    width: 10%;
  }

  .middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 20px;
  }

  .middle-section-description h3 {
    text-align: center;
    padding: 8% 8% 3% 8%;
    color: var(--light-grey);
    font-family: var(--lato);
    font-weight: 700;
  }

  .middle-section-description hr {
    text-align: center;
    width: 10%;
    margin: auto;
    background-color: var(--orange-red);
    height: 3px;
    border: none;
    margin-bottom: 30px;
  }

  .summit-pics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .summit-pics img {
    width: 100%;
    height: 100%;
    border: 1px solid #ededed;
  }

  .seperator {
    width: 100%;
  }

  .middle-section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  }

  .middle-section-description img {
    width: 80%;
    border: 1px solid #ededed;
    margin: 7% 0;
  }

  .partners-section {
    background-color: var(--light-grey);
    flex-direction: column;
    display: flex;
    text-align: center;
    color: var(--white);
    font-family: var(--lato);
    padding: 1rem;
  }

  .partners-images img {
    width: 40%;
    padding: 1rem;
  }

  .footer-section {
    display: flex;
    flex-direction: row;
    padding: 3%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .footer-section p {
    font-family: var(--lato);
    font-size: 10px;
    font-weight: 500;
    text-align: left;
    color: var(--light-grey);
  }

  .footer-section img {
    width: 10%;
  }
}

@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .middle-section-description h3 {
    text-align: center;
    padding: 8% 0 3% 0;
    color: var(--light-grey);
    font-family: var(--lato);
    font-weight: 700;
    font-size: x-large;
  }

  .middle-section-description hr {
    text-align: center;
    width: 10%;
    margin: auto;
    background-color: var(--orange-red);
    height: 3px;
    border: none;
    margin-bottom: 30px;
  }

  .summit-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 30px;
  }

  .seperator {
    width: 100%;
  }

  .middle-section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .middle-section-description img {
    width: 100%;
    border: 1px solid #ededed;
  }

  .partners-section {
    display: none;
  }

  /* desktop footer styling */

  .footer-section {
    background-color: var(--light-grey);
  }

  .footer-section p {
    color: var(--white);
  }
}
